body {
  font-family: sans-serif;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.row {
  display: flex;
}

.numButton {
  height: 100px;
  width: 100px;
  border: 2px solid white;
  border-radius: 10%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
