body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.row {
  display: flex;
}

.numButton {
  height: 50px;
  width: 50px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
}
